.wrapper {
  margin: auto;
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  width: calc(50% - 4rem);
  padding: 2rem;
  text-align: left;
  margin-top: 3rem;
}

.title {
  color: rgba(var(--highlight-color), 1);
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.description {
  color: rgba(var(--gray-text-color), 1);
  font-size: 2em;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
